PORT=5000
DATABASE_URL=postgresql://postgres:password@localhost:5432/electronics_db
JWT_SECRET=super_secret_jwt_key_2026

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=electronics
MINIO_USE_SSL=false